.container{
    margin: 20px;
}
.head{
    text-align: center;
    text-decoration: underline;
    background: gray;
}

a{
    text-decoration: none;
    color: black;
}

.box-Model p,a{
    width:auto;
    border: 5px solid red;
    display: block;
    padding: 20px;
    margin: 15px;
}
h2{
    text-align: center;
    font-size: 30px;
}
.document-flow p{
    background:aqua;    
    line-height: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: auto;
    padding: 15px;
}

.float{
    width:auto;
    padding: 10px;
    margin: 10px;
}
.content{
    text-align: center;
    width: 300px;
    float: left;
    padding: 50px;
    margin: 5px;
}
/* We can use a after pesudo class or a seperate div */
.float::after{
    display: block;
    content: "";
    clear: both;
}

.seperate{
    clear: both;
}

.Clr-float{
    background: gray;
    padding: 30px;
}